.form {
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid rgb(204, 204, 204);
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
  border-radius: 15px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  width: 40rem;
  height: 12rem;
  transform: translate(-50%, -50%);
}
