.modal-button {
  display: flex;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgb(0, 255, 217);
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.header-home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 132, 255, 0.566);
  padding: 5px 15px 5px 15px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
